.wrapper {
    margin: 0 auto;
    width: 30%;
    background-color: rgba(138, 138, 138, 0.753);
    border: 1px solid rgba(61, 61, 61, 0.753);
    box-shadow: 2px 2px rgba(61, 61, 61, 0.753), -1px -1px rgba(99, 96, 96, 0.753);
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
}

.logo {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    padding-left: 40px;
    padding-top: 10px;
}

.title {
    font-size: 32px;
    margin: 20px 0;
}

.version,
.autor,
.span {
    font-size: 22px;
}

.span {
    display: block;
}

.link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.link:hover {
    color: #1717b6;
}