.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 834px;
    position: relative;
    padding: 10px 20px;
    font-size: 22px;
    border-width: 1px;
    border-style: solid;
    border-color: #0000ff;
    border-radius: 15px;
}

.close {
    display: inline-block;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    background-image: url(../../images/close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    outline: none;
    border: 2px solid transparent;
}