.notesList {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    position: relative;
}

.noteListItem {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 22px;
    border-width: 3px;
    border-style: solid;
    border-color: #1111d4;
    border-radius: 25px;
    background-color: transparent;
    margin-bottom: 20px;
    box-shadow: 0 5px 3px -3px #1111d4;
    cursor: pointer;
}

.noteListItem:hover {
    outline: none;
    border-color: #008000;
    box-shadow: 0 5px 3px -3px #008000;
}

.btnDel {
    position: absolute;
    right: 0;
    padding: 0;
    transform: translateX(-75%);
    display: inline-block;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    background-image: url(../../assets/images/del.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    outline: none;
    border: 2px solid transparent;
}

.btnDel:hover {
    border: 3px solid #b84140;
}

.date {
    margin: 0px 20px;
}

@media (min-width: 920px) {
    .notesList {
        width: 880px;
    }
}